#myH1{
    font-size: 10em;
    color:brown ;
    align-items: center;
}
body{
    justify-items: center;
    background-color: beige;
}
button{
    background-color: brown;
    color: beige;
    border-radius: 3px;
    font-size: 1.5em;
    
}
div{
    align-items: center;
    word-spacing: 1em;
}